<head>
<!-- External Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
<!-- External Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<nav class="navbar">
  <ul class="nav-list">
      <span class="logo"><li>Wiki-Maps <i class="fa-solid fa-globe"></i></li></span>
      <div class="nav-menu">
          <% if (!user) { %> 
            <li><a href="/">Home</a></li>
          <% } %>

          <% if (user) { %> <!-- Checks if user object exists, indicating a logged-in user -->
            <li><a href="/home/<%= user.id %>">Home</a></li>
            <li><a href="/profile/<%= user.id %>">My Maps</a></li>
            <li><a href="/faves/<%= user.id %>">Favourites</a></li>
            <li><a href="/create/<%= user.id %>">Create</a></li>
          <% } %>
      </div>
  </ul>
  <% if (user) { %>
    <div class="navbar-right">
      <span>Logged in as: <strong><%= user.username %></strong></span>
      <form method="GET" action="/">
        <button type="submit">Logout</button>
      </form>
    </div>
  <% } %>
  <% if (!user) { %>
    <div class="navbar-right">
      <span>Logged in as: <strong>Guest</strong></span>
      Login as: 
      <form method="GET" action="/home/1">
        <button type="submit">Alice</button>
      </form>
      
      <form method="GET" action="/home/2">
        <button type="submit">Kira</button>
      </form>
      
      <form method="GET" action="/home/3">
        <button type="submit">Third User</button>
      </form>
    </div>
  <% } %>
</nav>
