<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Profile</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
  <link rel="stylesheet" href="/vendor/border-box.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- leaflet css file -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/viewProfileUsername.js"></script>
  <script src="/scripts/favouriteHandler.js" defer></script>

  <script src="/scripts/leaflet-src.js" defer></script>
</head>

<body>
  <!-- Include the navigation bar -->
  <%- include('partials/navbar') %>

    <main style="margin: 1em; margin-top: 23vh; padding: 20px; background-color: #f4f4f4; border-radius: 15px;">

      <!-- Display the username dynamically -->
      <div class="profile-box" style="display: flex; align-items: center;">
        <i class="fas fa-user fa-5x" style="margin-right: 20px;"></i>
        <div>
          <h2 class="username" id="username">
            <%= user.username %>'s Favorite Maps
          </h2>
        </div>
      </div>


      <div class="table-box-profile"
        style="margin-top: 20px; background-color: #fff; padding: 20px; border-radius: 10px;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Map Name</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
              <th scope="col">Favourites</th>
            </tr>
          </thead>
          <tbody>
            <% userMaps.forEach(map=> { %>
              <tr>
                <td><a href="/maps/<%= map.id %>/<%= user.id %>">
                    <%= map.title %>
                  </a></td>
                <td><a href="/maps/edit/<%= map.id %>/<%= user.id %>"><button class="btn btn-outline-primary">Edit</button></a></td>

                <!-- Delete Button -->
                <td>
                  <form method="POST" action="/maps/delete/<%= map.id %>">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                  </form>
                </td>

                <!-- Add to Favourites Heart Icon -->
                <td>
                  <center>
                  <i class="fas fa-heart favorite-icon" data-map-id="<%= map.id %>"
                    style="cursor: pointer; color: <%= map.favourite ? 'red' : 'black' %>;"></i>
                  </center>
                </td>


              </tr>
              <% }) %>
          </tbody>

        </table>

        <!-- <div class="card-footer text-muted" style="margin-top: 20px;">
          <p class="card-text" style="text-align: center;">
            <a href="/create" style="display: inline-block;"><button class="btn btn-outline-primary">Create a new
                Map</button></a>
          </p>
        </div> -->
      </div>



    </main>
</body>

</html>
